hr {
    background-color: #333;
    border: none;
    height: 5px;
    color: #333;
    background-color: #333;
}
#animal {
    border-radius: 50%;
}
.fa-huge {
    font-size: 5em;
    color: #333;
}

button {
    background-color: #333;
    border: none;
    width: 150pt;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 15px;
}
.vl {
    border-left: 6px solid #333;
    height: 200px;
    right: 50%;
    margin-left: -3px;
    top: 0;
}
